@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Readex+Pro:wght@160..700&display=swap");

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;
	background-color: black;
	font-family: "cinzel", serfif;
}

.logo {
	display: flex;
	width: 20rem;
	height: auto;
	object-fit: contain;
	transform: scale(1.2);
}

.text-center {
	display: flex;
	justify-self: center;
	text-align: center;
}

.game-rounds-header {
	color: gold;
}

label {
	display: flex;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	font-weight: 600;
}

.misc-game-content {
	margin-top: 2rem;
}

.game-content {
	position: absolute;
	top: 2rem;
	display: flex;
	flex-direction: column;
	place-items: center;
	justify-content: space-between;
	height: 100vh;
	margin: auto;
}
