@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900");

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;
	background-color: black;
	font-family: "Cinzel", serfif;
}

.logo {
	display: flex;
	width: 20rem;
	height: auto;
	object-fit: contain;
	transform: scale(1.2);
}

.text-center {
	text-align: center;
}

.game-rounds-header {
	color: gold;
}

label {
	display: flex;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	font-weight: 600;
}
